<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Search</title>
</head>

<body>
    <div class="container" style="background-color: rgb(154, 202, 202)">
        <form action="" method="POST">
            <div class="form-group">
                <label for="searchPlace">Enter a place to search restaurants
                    <input type="text" name="place" id="searchPlace" class="form-control" required>

                </label>
            </div>
            <br>
            <div class="form-group">
                <label for="">Enter your preffered meal type (eg: Burger, Pizza, South Indian)
                    <input type="text" name="mealType" class="form-control" required>
                </label>
            </div>

            <br>
            <input type="submit" value="Submit">
        </form>
    </div>


    <br>
    <div class="container" style="background-color: rgb(202, 161, 122)">

        {% if venues %}
        {% for result in venues %}
        <ul>
            <li><strong>{{result.name}}</strong><br>
                <ul>
                    {% for k in result.address %}
                    <li>{{k}}</li>
                    {% endfor %}
                    <li>{{result.distance}} meters</li>
                </ul>
            </li>

        </ul>





        {% endfor %}
        {% endif %}
    </div>




</body>

</html>